<footer class="footer py-3 mt-auto pt-5" style="background-color: rgba(0, 0, 0, 0);">
  <div class="container">
    <span class="text-secondary">
      &copy; Surabaya Bestpoint <%= new Date().getFullYear() %>
    </span>
  </div>
</footer>