<style>
  .custom-navbar {
    background-color: rgb(52, 58, 64);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: top 0.3s;
  }
  
  body {
    padding-top: 5%;
  }
</style>


<nav class="navbar navbar-expand-lg custom-navbar" data-bs-theme="dark">
  <div class="container-fluid mx-4">
    <a class="navbar-brand mx-4" href="/">Surabaya Bestpoint</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex flex-row gap-3 me-auto mb-2 mb-lg-0">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/places">Places</a>
        <a class="nav-link" href="/places/create">New Places</a>
      </div>

      <div class="navbar-nav d-flex flex-row gap-3">
        <% if(!currentUser) { %>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
        <% } else { %>
        <a class="nav-link" href="/logout" onclick="
          event.preventDefault();
          document.getElementById('logout-form').submit();
        ">logout</a>
        <a class="nav-link" href="/account">Account</a>
        <form action="/logout" method="POST" style="display: none;" id="logout-form"></form>
        <% } %>
      </div>
    </div>
  </div>
</nav>